<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nk.lz.dao.RegionDAO">
    <select id="findRAll" resultType="com.nk.lz.domain.Region">
        select * from lz_region order by value desc
    </select>
</mapper>