<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nk.ycw.dao.PointsDAO">
   <select id="findTenMem" resultType="com.nk.ycw.domain.Points">
         select * from ycw_points order by rand() limit 10;
   </select>
</mapper>