<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nk.wyj.dao.CityMax10DAO">
    <select id="findAll" resultType="com.nk.wyj.domain.CityMax10">
        select * from wyj_citymax10;
    </select>
</mapper>